<div
  class="cngx-select-shell__root"
  cngxClickOutside
  [enabled]="panelOpen()"
  (clickOutside)="handleClickOutside()"
>
  @let aria = triggerAria();
  <div
    #triggerBtn
    class="cngx-select-shell__trigger"
    role="combobox"
    [cngxPopoverTrigger]="pop"
    [haspopup]="'listbox'"
    [cngxListboxTrigger]="lb"
    [popover]="pop"
    [closeOnSelect]="true"
    [attr.tabindex]="effectiveTabIndex()"
    [attr.aria-label]="aria.label"
    [attr.aria-labelledby]="aria.labelledBy"
    [attr.aria-describedby]="aria.describedBy"
    [attr.aria-errormessage]="aria.errorMessage"
    [attr.aria-expanded]="aria.expanded"
    [attr.aria-disabled]="aria.disabled"
    [attr.aria-invalid]="aria.invalid"
    [attr.aria-required]="aria.required"
    [attr.aria-busy]="aria.busy"
    (click)="handleTriggerClick()"
    (focus)="handleFocus()"
    (blur)="handleBlur()"
    (keydown)="handleTriggerKeydown($event)"
  >
    @if (triggerLabelTpl(); as labelTpl) {
      <ng-container *ngTemplateOutlet="labelTpl; context: triggerLabelContext()" />
    } @else {
      <span class="cngx-select-shell__label">{{ triggerText() }}</span>
    }
    @if (clearable() && !empty() && !disabled()) {
      @if (tpl.clearButton(); as clearTpl) {
        <ng-container *ngTemplateOutlet="clearTpl; context: clearButtonContext()" />
      } @else {
        <button
          type="button"
          class="cngx-select-shell__clear"
          [attr.aria-label]="clearButtonAriaLabel()"
          (click)="handleClearClick($event)"
        >
          @if (clearGlyph(); as glyph) {
            <ng-container *ngTemplateOutlet="glyph" />
          } @else {
            <span aria-hidden="true">&#10005;</span>
          }
        </button>
      }
    }
    @if (resolvedShowCaret()) {
      @if (tpl.caret(); as caretTpl) {
        <span aria-hidden="true" class="cngx-select-shell__caret">
          <ng-container *ngTemplateOutlet="caretTpl; context: caretContext()" />
        </span>
      } @else if (caretGlyph(); as glyph) {
        <span aria-hidden="true" class="cngx-select-shell__caret">
          <ng-container *ngTemplateOutlet="glyph" />
        </span>
      } @else {
        <span aria-hidden="true" class="cngx-select-shell__caret">&#9662;</span>
      }
    }
  </div>
  <div
    cngxPopover
    #pop="cngxPopover"
    [placement]="popoverPlacement()"
    class="cngx-select__panel"
    [class]="panelClassList()"
    [style.--cngx-select-panel-min-width]="panelWidthCss()"
  >
    <ng-content select="cngx-select-search" />
    <div
      cngxListbox
      #lb="cngxListbox"
      [label]="resolvedListboxLabel()"
      [compareWith]="listboxCompareWith()"
      [externalActivation]="externalActivation()"
      [explicitOptions]="visibleProjectedOptions()"
      [items]="adItems()"
      [virtualCount]="virtualItemCount()"
      [(value)]="value"
    >
      <cngx-select-panel-shell>
        <ng-content />
      </cngx-select-panel-shell>
    </div>
  </div>
</div>
