<div role="heading" [attr.aria-level]="grid.headingLevel()" class="cngx-dga-row__heading">
  <button
    type="button"
    cngxAccordionPanel
    class="cngx-dga-row__summary"
    [panelId]="panelId()"
    [controls]="regionId"
    [id]="headerId"
    [attr.aria-labelledby]="primaryId()"
  >
    <span class="cngx-dga-row__chevron-slot" aria-hidden="true">
      <span class="cngx-dga-row__chevron"></span>
    </span>
    <ng-content select="[cngxDgaCell]" />
  </button>
</div>

<div
  role="region"
  class="cngx-dga-row__region"
  [id]="regionId"
  [attr.aria-labelledby]="primaryId()"
  [hidden]="!expanded()"
>
  <ng-content />
</div>
