@use '@angular/material' as mat;
@use '../../data-display/treetable/mat-treetable-theme' as treetable;

@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
  ),
));

html {
  @include mat.all-component-themes($theme);
  @include treetable.theme($theme);
}
