@switch (view()) {
  @case ('skeleton') {
    @if (loadingTemplate(); as tpl) {
      <ng-container [ngTemplateOutlet]="tpl" />
    } @else {
      <cngx-progress
        class="cngx-incremental-list__progress"
        variant="linear"
        [state]="paginate.state()"
        [label]="loadingLabel()"
      />
    }
  }
  @case ('empty') {
    @if (emptyTemplate(); as tpl) {
      <ng-container [ngTemplateOutlet]="tpl" />
    } @else {
      <p class="cngx-incremental-list__message cngx-incremental-list__empty">{{ emptyLabel() }}</p>
    }
  }
  @case ('error') {
    @if (errorTemplate(); as tpl) {
      <ng-container [ngTemplateOutlet]="tpl" [ngTemplateOutletContext]="errorContext()" />
    } @else {
      <div class="cngx-incremental-list__error">
        <p class="cngx-incremental-list__error-text">{{ errorLabel() }}</p>
        <button type="button" class="cngx-incremental-list__retry" (click)="retryFn()">
          {{ retryLabel() }}
        </button>
      </div>
    }
  }
  @default {
    <ul class="cngx-incremental-list__items">
      @for (item of items(); track $index) {
        <li class="cngx-incremental-list__item">
          @if (itemTemplate(); as tpl) {
            <ng-container
              [ngTemplateOutlet]="tpl"
              [ngTemplateOutletContext]="{ $implicit: item, index: $index }"
            />
          } @else {
            {{ item }}
          }
        </li>
      }
    </ul>
    @if (exhausted()) {
      @if (endTemplate(); as tpl) {
        <ng-container [ngTemplateOutlet]="tpl" />
      } @else {
        <p class="cngx-incremental-list__message cngx-incremental-list__end">{{ endLabel() }}</p>
      }
    }
  }
}

<span cngxLiveRegion class="cngx-incremental-list__sr">{{ statusMessage() }}</span>
