<ul class="cngx-incremental-list__items" role="list">
  @if (recycler.offsetBefore(); as before) {
    <li
      class="cngx-incremental-list__spacer"
      role="presentation"
      aria-hidden="true"
      [cngxRecyclerPlaceholder]="recycler"
      [style.height.px]="before"
    ></li>
  }
  @for (item of windowItems(); track trackItem()(recycler.start() + $index, item)) {
    <li
      class="cngx-incremental-list__item"
      [cngxVirtualItem]="recycler"
      [cngxVirtualItemIndex]="recycler.start() + $index"
      [cngxMeasure]="recycler"
      [cngxMeasureIndex]="recycler.start() + $index"
    >
      @if (itemTemplate(); as tpl) {
        <ng-container
          [ngTemplateOutlet]="tpl"
          [ngTemplateOutletContext]="{ $implicit: item, index: recycler.start() + $index }"
        />
      } @else {
        {{ item }}
      }
    </li>
  }
  @if (recycler.offsetAfter(); as after) {
    <li
      class="cngx-incremental-list__spacer"
      role="presentation"
      aria-hidden="true"
      [cngxRecyclerPlaceholder]="recycler"
      [style.height.px]="after"
    ></li>
  }
</ul>

<cngx-recycler-announcer [cngxRecyclerAnnouncer]="recycler" />
