@let expression = node();
@if (!expression && showEmptyFieldPicker()) {
  <div class="cngx-filter-builder__expression cngx-filter-builder__expression--empty">
    <cngx-select
      class="cngx-filter-builder__field-select"
      [options]="fieldOptions()"
      [placeholder]="config.i18n.addFilter"
      [value]="undefined"
      (valueChange)="handleFieldChange($event)"
    ></cngx-select>
  </div>
}
@if (expression) {
  <div
    class="cngx-filter-builder__expression"
    role="group"
    [attr.aria-label]="ariaLabel()"
    [class.cngx-filter-expression-incomplete]="isIncomplete()"
  >
    <cngx-select
      class="cngx-filter-builder__field-select"
      [options]="fieldOptions()"
      [value]="expression.field"
      (valueChange)="handleFieldChange($event)"
    ></cngx-select>

    <cngx-select
      class="cngx-filter-builder__operator-select"
      [options]="operatorOptions()"
      [value]="expression.operator"
      (valueChange)="handleOperatorChange($event)"
    ></cngx-select>

    @let resolvedEditor = editor();
    @if (resolvedEditor === 'native:string') {
      <input
        cngxInput
        type="text"
        [value]="expression.value ?? ''"
        (input)="handleStringValueInput($event)"
      />
    } @else if (resolvedEditor === 'native:number') {
      <input
        cngxInput
        type="number"
        [value]="expression.value ?? ''"
        (input)="handleNumberValueInput($event)"
      />
    } @else if (resolvedEditor === 'native:date') {
      <input
        cngxInput
        type="date"
        [value]="expression.value ?? ''"
        (input)="handleStringValueInput($event)"
      />
    } @else if (resolvedEditor && !isNativeEditor(resolvedEditor)) {
      <ng-container *ngComponentOutlet="resolvedEditor"></ng-container>
    }

    @if (removeButtonTemplate(); as removeTpl) {
      <ng-container *ngTemplateOutlet="removeTpl; context: removeButtonContext()"></ng-container>
    } @else {
      <button type="button" (click)="handleRemove()">
        <span aria-hidden="true">{{ glyphs.remove }}</span> {{ config.i18n.removeFilter }}
      </button>
    }
  </div>
}
